* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#search {
  display: block;
  position: absolute;
  right: 0;
  width: 20rem;
  padding: 0;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 3px;
  font-size: 12px;
  color: #222;
  background: #fff;
}

#search-form {
  margin-top: .2rem;
  display: flex;
  flex-direction: row;
}

#modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 20rem;
  padding: 1rem;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  border-radius: .2rem;
  font-size: 1rem;
  color: #222;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  border-radius: 10px;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

ol {
  margin: 0;
  padding: .5rem 0 0 1.5rem;
}

ol li {
  font-size: .83rem;
  padding: 0 0 .2rem 0;
}

#close {
  float: right;
  font-weight: bold;
  margin: 0;
}

#close a {
  text-decoration: none;
  color: #000;
}

.iconify {
  width: 1rem;
  height: 1rem;
  margin: .8rem .4rem;
}

#search-title {
  margin: 0 0 .3rem 0;
  font-size: .8rem;
}

#search-subtitle {
  margin: .3rem 0 .3rem 0;
  font-size: .8rem;
}

#pointer {
  display: none;
}

#pointer svg {
  width: 1.2rem;
  height: 1.05rem;
}

#crosshair {
  display: none;
}
  
#outer-container {
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding: .5rem;
  background-color: #fff;
  height: 14.5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.21);
  border-bottom-left-radius: 10px;
}

#mode-wrapper {
  position: absolute;
  top: 5.2rem;
  right: .75rem;
}

#menu {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  margin-top: .7rem;
}

input[type="radio"] {
  margin: 0.1rem .2rem 0 .5rem;
}

.hike-finder {
  width: 16rem;
  margin: auto;
}
  
.powered-by-hiking-project {
  width: 10rem;
  margin: .75rem auto;
}

.search-container {
  width: 16.5rem;
}

@media screen and (max-width: 675px) {
  
  body {
    flex-direction: column;
    background-color: #578f3f;
  }
  
  .hike-finder {
    width: 10rem;
    margin: auto;
  }
  
  .powered-by-hiking-project {
    display: none;
  }

  #map {
    /* position: absolute; */
    position: relative;
    margin: auto;
    width: 97vw;
    height: calc(100vh - 18rem);
    order: 2;
  }

  #outer-container {
    position: relative;
    margin: 0 auto .5rem auto;
    height: 7.2rem;
    width: 19rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom-right-radius: 10px;
  }

  #modal {
    position: relative;
    width: 19rem;
    order: 3;
    margin: .5rem auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: .8rem;
  }

  #mode-wrapper {
    position: absolute;
    top: 1.4rem;
    right: .1rem;
  }

  .hike-finder {
    display: none;
  }

}